
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(https://wallpapercrafter.com/desktop5/1324487-Seasons-Autumn-Nature-Fall-Bosque-1080P.jpg);
    background-color: rgba(250, 250, 250, 0.5); 
    background-repeat: no-repeat;
}

.page-main{
    background-image: linear-gradient(to top left, transparent -700%, #fafafa 99%);

}

.principal {
    display: grid;
    grid-template-columns:  repeat(3, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas: 'lateral       portada         portada'
                          'lateral      centro1         bio'
                          'lateral      centro2         bio';

    gap: 20px;
    margin-top: 18px;
}

/* Imagem de portada */

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
}

.button-header{
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
}

.button-back{
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
}


/* Imagem de portada */

.contenedor-portada {
    grid-area: portada;
    /* background-color: aqua; */
    display: flex;
    height: 255px;
    width: auto;
}

.contenedor-portada .portada {
    /* background-image: url('/LAB365 senai/Exercicios Trello/[M1S06]/assets/imgportada.jpg'); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    width: 1000px;
    height: 250px;
}

/* Informação lateral */


.contenedor-lateral {
    grid-area: lateral;
    height: auto;
    width: 300px;
    /* background-color: aqua; */
}

.lateral-superior {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: auto;
    margin-left: 35px;
}

.info-perfil{
    margin-left: 10px;
    margin-top: 20px;
}

.info-perfil h3 {
    font-size: 15px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    margin-top: 100px;
}


.button-follow {
    background-image: linear-gradient(to top right, #f53377, #f4792f 90%);
    border-radius: 20px;
    border: none;
    height: 25px;
    width: 85px;
    margin-bottom: 30px;
    transition: transform 0.2s ease;
}

.button-follow:active{
    transform: translateY(2px);
}


.lateral-superior img {
    height: 200px;
    width: 200px;
    /* margin-left: 5%; */
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}


.quantidade {
    font-size: 25px;
}

.descricao {
    font-size: 12px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info-numeros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    height: 70px;
    margin-top: 40px;
}

.lateral-superior h3 {
    margin-top: 1px;
    margin-bottom: 20px;
}

.lateral-superior h2 {
    margin-bottom: 5px;
}




/* Centro 1 */




.centro1{
    background-color: white;
    grid-area: centro1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    border-radius: 5%;
    height: 200px;
    width: 700px;
}



.post-container {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
}


.centro1 h3{
    display: flex;
    font-size: 18px;
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 20px;
}



.post-container img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}


/* Centro 2 rede */




.rede img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.rede{
    grid-area: centro2;
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    height: 250px;
    width: auto;
}


.foto-rede {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
}

.informacao-rede {
    margin-top: 60px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.informacao-rede * {
    margin: 5px;
}

.users-numbers{
    justify-content: center;
    border-radius: 20px;
    background-color: #fafafa;
    border: none;
    height: 430px;
    width: 100px;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-top: -15px;
}

/* Lateral direito */

.profile-right {
    grid-area: bio;
}

