.principal {
    display: grid;
    grid-template-columns:  repeat(3, auto);
    grid-template-rows: auto auto auto;
    grid-template-areas: 'lateral       portada         portada'
                          'lateral      centro1         bio'
                          'lateral      centro2         bio';

    gap: 20px;
}

/* Imagem de portada */

.contenedor-portada {
    grid-area: portada;
    background-color: aqua;
    display: flex;
    height: 255px;
    width: auto;
}

.contenedor-portada .portada {
    /* background-image: url('/LAB365 senai/Exercicios Trello/[M1S06]/assets/imgportada.jpg'); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    object-fit: cover;
    width: 1000px;
    height: 250px;
}

/* Informação lateral */



.contenedor-lateral {
    grid-area: lateral;
    height: auto;
    width: 300px;
    /* background-color: aqua; */
}

.lateral-superior {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 800px;
    width: auto;
    /* background-color: aquamarine; */
    margin-left: 20px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    margin-top: 100px;
}

.button-follow {
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 100px;
    margin-bottom: 30px;
}

.lateral-superior img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.info-numeros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
    height: 70px;
    margin-top: 40px;
    /* background-color: bisque; */
}

.lateral-superior h3 {
    margin-top: 1px;
    margin-bottom: 20px;
}

.lateral-superior h2 {
    margin-bottom: 5px;
}

/* Centro 1 */

.post-container {
    grid-area: centro1;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}


.post-container img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.rede{
    grid-area: centro2;
}

.rede img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* Centro 2 rede */

.rede {
    display: flex;
}


/* Lateral direito */

.profile-right {
    background-color: aquamarine;
    grid-area: bio;
}

